<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Productos</title>

  <!--Styles and Bootstrap-->
  <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!--Icons-->
  <script src="https://kit.fontawesome.com/a3c354fd86.js" crossorigin="anonymous"></script>

  <!-- DataTabkes-->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
  <!--Alerts Customize-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>

  <div class="nav-side-menu">
    <div class="brand">Botillería</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <a href="#">
            <i class="fa fa-user-cog fa-lg"></i> Mi Cuenta
          </a>
        </li>
        <li>
          <a href="./index.html" id="refreshButton">
            <i class="fa fa-dashboard fa-lg"></i> Inicio
          </a>
        </li>
        <hr>
        <li>
          <a href="./ProductoMenu.html" id="refreshButton">
            <i class="fa fa-wine-bottle fa-lg"></i> Productos
          </a>
        </li>
        <li>
          <a href="./vender.html" id="refreshButton">
            <i class="fa fa-money fa-lg"></i> Vender
          </a>
        </li>
        <li>
          <a href="#" id="refreshButton">
            <i class="fa fa-shop fa-lg"></i> Ventas Realizadas
          </a>
        </li>
        <hr>
        <li>
          <a href="" id="btnLogout">
            <i class="fa fa-sign-out-alt fa-lg"></i> Cerrar Sesión
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="container" id="main">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">Visualiza los productos de tu tienda. Puedes añadir, modificar y eliminar a tu gusto.
        </h4>
      </div>
      <div class="col-md-12">
        <div class="container">
          <h1 class="mt-4 mb-3">Productos</h1>
          <div class="text-center"> <!-- Aquí envolvemos el botón en un div centrado -->
            <a href="./agregarProducto.html" type="button" class="btn btn-success">Añadir Nuevo Producto</a>
          </div>
          <table id="productos" class="display" width="100%"></table>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>

  <!-- JS personales -->
  <script src="./js/productos.js"></script>
</body>

</html>